.pills-container{
    border-radius: 20px;
    background-color: #d9f4f9;
    min-height: 100px;
    padding: 20px;
}

span{
    min-width: 100px;
    width: auto;
    height: 30px;
    max-width: 200px;
    margin: 10px;
    font-size: medium;
    font-weight: 500;
}